
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
}

.header {
   
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 120px;
}

.header_content {

 
    height: 90vh;
    padding: 10%;

}

.header_content .button {
  
  align-items: center;
  gap: 20px;
}
header{
    background:linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.449)) ,url(/image/photo.png);
    background-size: cover;
    height: 100vh;
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu {
    color: white;
    text-decoration: none;
}
.vert{
    background-color: #009b86;
    padding: 5px 5px;
    border: none;
    outline: none;
}
.nav-item{
    color: WHITE;
}


header h1{
    color: white;
    font-size: 3.5rem;
    margin-bottom: 50px;
}
.button{
    text-align: center;
    margin-top: 100px;
}
.button button{
    border: none;
    padding: 10px;
}
.but{
    background-color: #fc9c00;
    color: white;
}
.but1{
    background-color: white;
    color: #69aca5;  

}
.dropdown-menu{
    background-color: #69aca5;
    
}
.dropdown-item{
    color: white;
}
.dropdown a {
    font-size: 20px;
}
.burguer{
    width: 25px;
    fill: #3fafa6e5;
    display: none;
}








h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    margin-bottom: 50px;
}


section {
    padding: 5%;

    }


section  .texte .orange {
    color:orange;
}
section p {
    color: black;
}


.texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.svg {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 30px;
}

.svg .icone {
 
   text-align: center;
   padding: 20px;
   flex: 1;
   gap: 5px;
   justify-content: center;
}
.svg .icone h1 {
   font-size: 30px;
   color:  black;
}


.svg .icone p {
    color: black;
   font-size: 20px;
}
.svg .icone:hover{
    background-color: #fc9c00;
    color: #009b86;
}



 .icone svg {
        width: 100px;
        margin-bottom: 20px;
        fill: #009b86;
    }
    
.icone .indice {
    width: 70px;
}

.svg2 {
    padding: 0 150px;
}













/* responsive */





@media (max-width :1350px) {
    .logo{
        width: 60px;

    }
    nav .menu{
        display: flex;
        align-items: center;
    }

    nav .a{
        font-size: 12px;

    }
    .nav p{
        width: 70%;
        margin: 20px 0;
    }
    .button{
        padding: 10px 5px;
        font-size: 12px;
    }
}

@media (max-width :500px) {
    
   
    nav .a{
        font-size: 30px;

    }
    .nav p{
        width: 90%;
        margin: 20px 0;
    }
    .button{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .burguer{
        display: flex;
    }
   
}

@media (max-width :800px) {

    header {
        height: 70lvh;
    }

    nav{
        display: none;
    }
    nav.active {
        background-color:  orangered;
        position: absolute;
        display: flex;
        top: 8%;
        right: 4%;
        flex-direction: column;
        width: 70% ;
        padding: 3%;
    }
    
    .nav h1{
        font-size: 30px;

    }
    .nav p{
        width: 90%;
        margin: 20px 0;
    }
    .button{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .burguer{
        display: flex;
        position: absolute;
        top: 3%;
        right: 5%;
    }
    .texte  h1 {
        font-size: 25px;
    }
    .texte  p {
        text-align: center;
    }


    .svg  {
        flex-direction: column;
    }

    .svg2  {
        padding: 0;
    }
}
